.hero {
  max-width: 1170px;
  margin: 0 auto;
  background: none;
  padding-bottom: 50px;
}
.hero-text {
  margin: 0 auto;
  margin-top: 189px;
  padding: 0 15px;
  text-align: left;
}
.hero-text h1 {
  text-align: center;
}
.hero-text h2 {
  font-size: 1.25em;
}
.hero-text a {
  color: #ff0000;
  text-decoration: none;
}
.hero-text a:hover {
  color: #000000;
}
.resume {
  margin: 180px 0 100px;
}
.resume img {
  margin: 0 auto;
  margin-bottom: 5px;
  width: 80px;
  height: auto;
  display: table;
}
.resume-text {
  display: table-cell;
  vertical-align: middle;
}
.resume a {
  text-decoration: none;
  color: #000000;
  vertical-align: center;
}
.resume a:hover {
  color: #ff0000;
}
.my-skills {
  background-color: #ff0000;
  margin-top: 30px;
  padding: 15px 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 15px;
}
.my-skills ul {
  padding: 0 15px;
}
.my-skills ul li {
  display: block;
  font-weight: normal;
  font-size: .85em;
  text-align: left;
  padding-left: 30px;
}
.my-skills ul li ol {
  text-align: left;
  padding-left: 0;
}