.hero {
  background: none;
  /*background-color: #c4c4c4;*/
}
.hero-text {
  max-width: 1170px;
  margin: 0 auto;
}
.thanks {
  margin-top: 175px !important;
}
.contact-form {
  margin: -16px 0 0;
  padding-bottom: 50px;
  width: 100%;
  /*background-color: #c4c4c4;*/
}
input {
  font: inherit;
}
.form {
  width: 460px;
  margin: 0 auto;
  font-size: 1.25em
}
.form-group {
  width: 100%;
  margin: 0 auto;
  height: 46px;
  margin-bottom: 50px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: .8em;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #ff002d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 45, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 45, .6);
}
input.button {
  margin-top: 70px;
}
.button {
  display: block;
  margin: 0 auto;
}
.social-media {
  margin: 75px auto;
  text-align: center;
  position: relative;
  z-index: 0;
}
.social-media li {
  display: inline-block;
  padding-bottom: 50px;
}
.social-media img {
  margin-right: 50px;
  width: 120px;
  height: auto;
}
.social-media a:hover img {
  border-radius: 50%;
  background-color: rgba(255,0,45,.6);
}
footer.footer-thanks {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
