.hero {
  height: 200px;
}
.hero-text {
  padding-top: 25px;
  font-size: 1.25em;
}
.blog-title {
  padding-top: 40px;
}
.post {
  width: 1200px;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.25em;
}
.post-text {
  padding: 25px 0;
  font-size: 1.15em;
  line-height: 1.3;
}
.post-text h3, h4 {
  font-weight: 700;
}
.post-links {
  float: right;
  text-align: center;
}
.post-links li {
  display: block;
  padding: 20px 0;
}
.post-links li.first-post {
  padding-top: 40px;
}
.post-links li a {
  font-size: 1.5em;
  font-weight: 800;
  color: #1d1d1d;
  text-decoration: none;
}
.post-links li a:hover {
  text-decoration: none;
  color: #ff002d;
}
.post-links li a.active {
  color: #ff002d;
} 
.single {
  padding: 15px 0;
}