/*
===========================
Universal Styling
===========================
*/
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
body {
  margin-top: 124px;
  width: 100%;
  margin: 0;
}
.center {
  display: block;
  margin: 0 auto;
}
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff 50%, #1d1d1d 50%);
  height: 124px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0 50px;
  text-decoration: none;
}
nav li a:hover {
  text-decoration: none;
  color: #ff002d;
}
.nav-left {
  width: 46%;
  height: 62px;
  margin-top: -62px;
  text-align: center;
  float: left;
}
.nav-right {
  width: 46%;
  height: 62px;
  margin-top: -62px;
  text-align: center;
  float: right;
}
.profile-pict {
  position: relative;
  top: 31px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 120px;
  height: auto;
  border: 2px solid #1d1d1d;
  border-radius: 50%;
}
.profile-pict:hover {
  -webkit-filter: none;
  filter: none;
}
.hero {
  margin-top: 124px;
  width: 100%;
  height: 300px;
  background: url('../imgs/macbook.jpg') fixed center center no-repeat;
  background-attachment: fixed;
  text-align: center;
}
.hero-text {
  margin: 0;
  padding-top: 65px;
  font-size: 1.25em;
}
.hero-text h1 {
  font-size: 2.75em;
  font-weight: 700;
  margin: 0;
}
.hero-text h2 {
  margin: 0;
  font-weight: bold;
}
.skills {
  padding: 50px 0px;
  font-size: 1.15em;
  text-align: center;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
.skills h3 {
  font-weight: 800;
  color: #000000;
}
.skills a {
  text-decoration: none;
}
.skills a:hover {
  text-decoration: none;
}
.skills a:visited {
  text-decoration: none;
}
.skills a:visited h3 {
  color: #000000;
}
.skills img {
  width: 160px;
  height: auto;
}
.skills p {
  padding-bottom: 25px;
}
.col-skills {
  padding: 0 15px 50px;
  margin-bottom: 75px;
}
.button {
  background-color: #ff002d;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
.button:hover {
  background-color: #bf0023;
}
.disabled {
  opacity: .65;
}
.disabled a {
  pointer-events: none;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #1d1d1d;
  height: 80px;
  width: 100%;
}
.foot {
  width: 1200px;
  margin: 0 auto;
}
.icon {
  color: #ffffff;
  text-align: left;
  margin-top: 30px;
  padding-right: 30px;
}
.icon a {
  color: #ffffff;
  text-decoration: none;
}
.icon img {
  height: 22px;
  width: auto;
  position: absolute;
}
.copyright {
  margin-top: 15px;
  color: #ffffff;
  text-align: center;
  padding: 0 15px;
}
.social {
  margin-top: 5px;
  text-align: right;
  float: right;
}
.social li {
  display: inline-block;
}
.social img {
  margin-right: 12px;
  width: 40px;
  height: auto;
}
.social a:hover img {
  border-radius: 50%;
  background-color: rgba(255,255,255,.4);
}
.clearfix {
  clear: both;
}
.col-4 {
  width: 30.833333%;
  float: left;
}
.col-8 {
  width: 64.166667%;
  float: left;
}
.col-3 {
  width: 22.5%;
  float: left;
}
