.hero {
  height: 300px;
  background: url('../imgs/macbook.jpg') fixed center center no-repeat;
  background-attachment: fixed;
}
.hero-text {
  padding-top: 60px;
  font-size: 1.5em;
}
.hero-text h1 {
  font-size: 2.75em;
  font-weight: 800;
}
.hero-text h2 {
  font-weight: 800;
}
.skills {
  padding: 50px 0;
  font-size: 1.25em;
}
.skills h3 {
  font-weight: 800;
}
.skills img {
  width: 160px;
  height: auto;
}
.skills a {
  margin-top: 10px;
}
/*
===========================
Universal Styling
===========================
*/
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}
body {
  margin-top: 120px;
}
li {
  position: relative;
  display: inline-block;
}
.navbar-inverse {
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff 50%,#1d1d1d 50%);
  height: 120px;
}
.navbar li a {
  color: #ffffff;
  font-size: 1.25em;
  font-weight: 400;
  padding: 0 50px;
}
.navbar li a:hover {
  text-decoration: none;
  color: #ff002d;
}
.navbar-left {
  padding-top: 76px;
}
.navbar-left a:hover{
  
}
.navbar-right {
  padding-top: 76px;
  margin-right: 50px;
}
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 15px;
  text-align: center;
  margin: auto;
}
.profile-pict {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 120px;
  height: auto;
  border: 2px solid #1d1d1d;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
.profile-pict:hover {
  -webkit-filter: none;
  filter: none;
}
footer {
  background-color: #1d1d1d;
  height: 80px;
}
.icon {
  color: #ffffff;
  padding-top: 30px;
}
.icon a {
  color: #ffffff;
  text-decoration: none;
}
.icon img {
  width: 20px;
  height: auto;
}
.copyright {
  color: #ffffff;
  padding-top: 30px;
}
.social img {
  padding: 20px 5px 0 0;
  width: 40px;
  height: auto;
}
.btn-danger {
  background-color: #ff002d;
  border: none;
  padding: 15px 25px; 
}